VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_CATALOG_BASE_URL=
VITE_SUPPORT_EMAIL=support@qozara.org
VITE_LEGAL_EMAIL=legal@qozara.org
VITE_LEGAL_BASE_URL=https://qozara.org
VITE_APP_WEBSITE_URL=https://quomida.qozara.org
